.cohortSection {
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40rem;

  .cohortNumCont {
    border: 0.5rem solid #000000;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
  }

  .cohortHeadlinesCont {
    > h2 {
      font-family: "Agriculture";
      font-style: normal;
      font-weight: 400;
      font-size: 8rem;
      line-height: 10.5rem;
    }
  }
}
