$coral_text_color: #fc9f16;
$deep_red_text_color: #ff4554;

.copywritingBasicsSection {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  //   flex-wrap: nowrap;
  gap: 5rem;
  padding: 0rem 13rem;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: inherit;
    justify-content: center;
    height: auto;
  }

  .icon_logo_cont {
    display: flex;
    flex-direction: column;
    // flex-wrap: nowrap;
    gap: 7.5rem;

    @media screen and (max-width: 1024px) {
      flex-direction: row;
      align-items: center;
    }

    .basicsIcon {
      width: 16rem;
      height: 16rem;
      border: 4px solid black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      > p {
        font-family: "Agriculture";
        font-size: 15rem;
      }
    }

    .basicsHeadings {
      @media screen and (max-width: 1024px) {
        display: flex;
      }
      > h2 {
        font-family: Agriculture;
        font-size: 8rem;
        font-weight: 400;
        line-height: 10.5rem;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }

  .verticalLine {
    width: 1rem;
    height: 43rem;
    border: 4px solid black;
    transform: translateX(15rem);
    border-radius: 10px;

    @media screen and (max-width: 1024px) {
      height: 1rem;
      width: 90%;
      transform: translateX(0);
      display: none;
    }
  }

  .internshipIcons {
    width: 100%;
    transform: translateX(12rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    // border: 1px solid red;
    @media screen and (max-width: 1024px) {
      transform: translateX(0);
      place-items: center;
    }

    .iconsCont {
      width: 36rem;
      height: 19rem;
      // border: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > .icon {
        display: grid;
        place-items: center;
        font-size: 15rem;
      }

      > .iconText {
        font-family: "Comfortaa";
        font-size: 2rem;
      }
    }
  }
}

.datePickerSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0rem 13rem;
  background-color: #000000;

  .calenderCont {
    width: 30rem;
    height: 30rem;
    border: 2px solid black;
    font-size: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff;
  }
  > h2 {
    font-family: "Agriculture";
    font-style: normal;
    font-weight: 400;
    font-size: 7.2rem;
    color: #ffffff;
    line-height: 9.2rem;
    label {
      position: relative;
      color: $deep_red_text_color;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $coral_text_color;
        // text-decoration: underline;
      }
    }

    input[type="date"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      &::-webkit-calendar-picker-indicator {
        -webkit-appearance: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }
}
