@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Kumbh+Sans&display=swap");
// NOTE :- using "Kumbh sans" instead of Futura

@font-face {
  font-family: "Agriculture";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/Agriculture.ttf) format("ttf");
}
// => variables
$white_text_color: #ffffff;
$deep_red_text_color: #ff4554;
$coral_text_color: #fc9f16;
$aqua_text_color: #0ee8c3;
$light_red_text_color: #ee3c78;
$black_bg: #0a0a0a;

// => dynamic classes
.deep-red-text {
  color: $deep_red_text_color;
}
.light-red-text {
  color: $light_red_text_color;
}
.aqua-text {
  color: $aqua_text_color;
}

.black-text {
  color: $black_bg;
}

.white-text {
  color: $white_text_color;
}

.coral-text {
  color: $coral_text_color;
}

.coral-bg {
  background: $coral_text_color;
}

.black-bg {
  background: $black_bg;
}

.aqua-bg {
  background: $aqua_text_color;
}

.align-left {
  text-align: left;
}

.left-aligned-hero {
  display: flex;
  justify-content: left;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 45%;
  @media screen and (max-width: 768px) {
    font-size: 20%;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 30%;
  }
}

body::-webkit-scrollbar {
  display: none;
}

// => navbar styling

.navbar {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 13rem;
  align-items: center;
  height: 15vh;

  .nav-logo {
    width: 42rem;
    height: auto;
    & img {
      width: 80%;
    }
  }

  .navbarLinksWrapper {
    display: flex;
    align-items: center;
    gap: 4rem;
    span {
      text-decoration: none;
      font-size: 2rem;

      &:first-child {
        color: $white_text_color;
        font-family: "Comfortaa";
        width: 8rem;
        height: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.2rem;
        text-align: center;
      }
      &:last-child {
        width: 7.2rem;
        height: 2.3rem;
        font-family: "Agriculture";
        font-style: normal;
        font-weight: 400;
        line-height: 2.6rem;
        text-align: center;
      }
    }
  }
  .telegramIconCont {
    background-color: $white_text_color;
    height: 4rem;
    width: 4rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    img {
      width: 80%;
    }
  }
}

// => all section generic styling

section {
  min-height: 50vh;
}
.section-wrapper {
  padding: 10rem 13rem;
  p {
    font-size: 8.5rem;
    font-weight: 400;
    line-height: 11rem;
    font-style: normal;
  }
  h1 {
    font-size: 8.5rem;
    font-weight: 400;
    line-height: 11rem;
    color: $white_text_color;
  }
}

.price-wrapper {
  display: flex;
  padding: 13rem;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-family: "Agriculture";
    font-weight: 400;
    line-height: 17rem;
    font-size: 13rem;
  }
  p {
    font-family: "Agriculture";
    font-weight: 400;
    line-height: 10rem;
    font-size: 8rem;
  }
}

// => styling components

.hero-section {
  background-color: $deep_red_text_color;
  font-family: "Agriculture";
  display: grid;
  place-items: center;
  min-height: 75vh;
  p {
    color: $white_text_color;
  }
}

.copywriting-section {
  display: flex;
  min-height: 70vh;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  color: $white_text_color;
  h2 {
    font-size: 15rem;
    font-family: "Agriculture";
    font-weight: 400;
    line-height: 20rem;
    display: flex;
    align-items: center;
  }
  h3 {
    font-family: "Kumbh sans";
    font-weight: 500;
    font-size: 4rem;
    line-height: 5rem;
  }
  > div:last-child {
    display: flex;
    align-items: center;
    gap: 4rem;
    // justify-content: center;
    > div:first-child {
      border: 1rem solid $white_text_color;
      height: 22rem;
      width: 22rem;
      border-radius: 50%;
      display: grid;
      place-items: center;

      span {
        font-size: 15rem;
        text-transform: uppercase;
        font-family: "Agriculture";
        padding: 0;
        margin: 0;
      }
    }
  }
}

// => index page

// section 1
.index-section-1-container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  > div:last-child {
    display: block;
    text-align: center;
  }
}

// section 2
.index-section-2-Wrapper {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Agriculture";
  > div:last-child {
    width: 23vw;
    img {
      width: 100%;
    }
  }
}

.Text-SpiralArrow-Wrapper {
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    p {
      display: flex;
      align-items: flex-end;
    }
  }
}

.spiralCont {
  width: 20vw;
  img {
    width: 100%;
  }
}

// section 3
.index-section-3-Wrapper {
  background: $black_bg;
  font-family: "Agriculture";
  display: flex;
  flex-direction: column;
  gap: 10rem;
  .banner-wrapper {
    width: 100%;
    background: $aqua_text_color;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
    padding: 8rem;
  }
  p {
    color: $white_text_color;
  }
  span {
    font-size: 15rem;
    line-height: 20rem;
    color: $white_text_color;
    display: block;
    margin: auto;
  }
}

// => classes page styling

// => footer styling
footer {
  background: $black_bg;
  padding: 10rem 13rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  h1 {
    font-family: "Kumbh sans";
    font-size: 8.5rem;
    color: $white_text_color;
    text-align: center;
    font-weight: 700;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    a {
      color: $white_text_color;
      font-size: 3rem;
    }
  }
}
